%div{:style => "float:right"}
  = button_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'btn btn-success'
- if current_user.role == "employee"
  = render "employee_modal"
- elsif current_user.role == "hr"
  = render "hr_modal"
#calendar

:javascript
  launch_calendar(#{@leaves})
