// Place all the styles related to the Leaves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select#leave_type {
  width: 100%
}
#remove_leave_form {
  height: 0px;
  #leave_delete_button {
    position: relative;
    left: 62px;
    top: -50px
  }
}
input#date {
  width: 516px
}
